@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/* Background */

.sky-container 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: bg-animation 5s infinite alternate;
}
.moving-stars 
{
    position: absolute;
    top: 130px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 6px #ffffff);
    animation: shining 3000ms ease-in-out infinite;
}
.moving-stars:nth-child(2) 
{
    top: calc(100% - 100px);
    right: calc(100% - 240px);
    animation-delay: 100ms;
}
.moving-stars:nth-child(3) 
{
    top: calc(100% - 900px);
    right: calc(100% - 340px);
    animation-delay: 200ms;
}
.moving-stars:nth-child(4) 
{
    top: calc(100% - 900px);
    left: calc(100% - 340px);
    animation-delay: 300ms;
}
.moving-stars:nth-child(5) 
{
    top: calc(100% - 330px);
    left: calc(100% - 340px);
    animation-delay: 400ms;
}
.stars-static 
{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-image: url(assets/stars.svg);
    background-position: center;
    background-size: contain;
    z-index: 0;
}
.nebulosa 
{
    min-height: 100vh;
    position: fixed;
    width: 100%;
    background-image: url(assets/nebulosa.png);
    background-position: center;
    background-size: cover;
}
.earth,
.rock,
.ice 
{
    z-index: 2;
    height: auto;
    position: absolute;
}
.earth 
{
    width: 28rem;
    animation: rotate 14s infinite linear;
    filter: drop-shadow(5px 5px 10px #92D1F3);
    z-index: 3;
}
.earth-container 
{
    position: fixed;
    height: 200px;
    width: 28rem;
    right: 0;
    top: 150px;
}
.earth-container::after 
{
    display: inline-block;
    content: "";
    position: absolute;
    background-image: url(assets/star.png);
    background-repeat: no-repeat;
    background-size: 8rem auto;
    height: 200px;
    width: 175px;
    top: -100px;
    right: 0;
    filter: drop-shadow(0px 12px 10px rgba(40, 221, 236, 0.52));
    animation: alien-animation 2s infinite alternate;
}
.rock 
{
    width: 14rem;
    filter: drop-shadow(5px 5px 10px #F16767);
    left: 10px;
    top: 25px;
    animation: rotate-reverse 16s infinite linear;
}
.ice 
{
    width: 25rem;
    bottom: -15%;
    filter: drop-shadow(5px 5px 10px #4F44F5);
    animation: rotate-reverse 25s infinite linear;
}
.clock-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(91, 126, 230, 0.372);
    width: 300px;
    border-radius: 10px;
    z-index: 10;
    padding: 20px 0px 20px 0px;
}
.clock-container span 
{
    color: white;
    font-size: 50px;
    font-weight: 200;
}
footer 
{
    color: white;
    font-weight: 200;
    font-size: 12px;
    padding: 0px 0px 5px 10px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    text-align: center;
}
footer a 
{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Animations */

@keyframes bg-animation 
{
    0% 
    {
        background-position: right;
        background-size: 100%;
    }
    100% 
    {
        background-position: left;
    }
}
@keyframes alien-animation 
{
    0% 
    {
        transform: translate(25px);

    }
    100% 
    {
        transform: rotate(-10deg);
        filter: drop-shadow(0px 12px 10px #28DDEC);
    }
}
@keyframes shining 
{
    0% 
    {
        transform: scale(1);
        opacity: 0.6;
    }
    50% 
    {
        transform: scale(1.5);
        opacity: 1;
    }
    100% 
    {
        transform: scale(1);
        opacity: 0.6;
    }
  }
@keyframes rotate 
{
    0% 
    {
        transform: rotate(0deg);
    }
    50% 
    {
        transform: rotate(10deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
@keyframes rotate-reverse 
{
    0% 
    {
        transform: rotate(0deg);
    }
    50% 
    {
        transform: rotate(-35deg);
    }
    100% 
    {
        transform: rotate(0deg);
    }
}

/* MediaQ */

@media screen and (max-width: 1400px) {
    html 
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 1000px) 
{
    html 
    {
        font-size: 10px;
    }
}
@media screen and (max-width: 800px) 
{
    footer 
    {
        display: none;
    }
}
@media screen and (max-width: 500px) 
{
    .earth-container::after 
    {
        right: -80px;
    }
    .ice 
    {
        bottom: 0px;
    }
    .moving-stars 
    {
        top: 120px;
    }
    .moving-stars:nth-child(2) 
    {
        bottom: 100px;
        left: 0;
    }
    .moving-stars:nth-child(3) 
    {
        top: 19px;
    }
    .moving-stars:nth-child(4) 
    {
        top: 300px;
        left: 40px;
    }
    .moving-stars:nth-child(5) 
    {
        top: 10px;
    }
}
@media screen and (max-height: 680px) 
{
    .ice 
    {
        bottom: -100px;
    }
}